{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&libraries=streetView&callback=initMap">
</script>

<style type="text/css">
  /* Set the size of the div element that contains the map */
  #map {
    height: 600px;
    /* The height is 600 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
</style>

<script src="{% static 'js/pinMap.js' %}"></script>
{% endblock head %}



{% block content %}
<form method="post">
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Select Location</legend>
  </fieldset>
  <div class="form-group">
    <h1 id="api_failure">Map failed to load, please reload the page.</h1>
    <div id="map"></div>
    <input required hidden id="select-location" class="form-control" name="select-location" value="">
  </div>
  <br>
  <div class="form-group">
    <button type="submit" name="select-get-button" class="btn btn-outline-info">Get Images</button>
  </div>
</form>
{% endblock content %}