@font-face {
  font-family: "TradeGothic LT";
  src: url("fonts/Trade\ Gothic\ LT.ttf") format("truetype");
  /* src: url("fonts/Trade\ Gothic\ LT.ttf") format("truetype"),
       url("fonts/Trade\ Gothic\ LT\ Oblique.ttf") format("truetype"),
       url("fonts/Trade\ Gothic\ LT\ Light.ttf") format("truetype"),
       url("fonts/Trade\ Gothic\ LT\ Bold.ttf") format("truetype"),
       url("fonts/Trade\ Gothic\ LT\ Bold\ Oblique.ttf") format("truetype"); */
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family: "TradeGothic LT", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

a:link, a:visited, a:hover, a:active {
  text-align: center;
  text-decoration: none;
}

.bg-nav {
  background-color: #1E3765
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.nhood-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.nhood-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.nhood-title {
  color: #444444;
}

a.nhood-title:hover {
  color: #428bca;
  text-decoration: none;
}

.nhood-content {
  white-space: pre-line;
}

#response-container {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  overflow: auto;
  max-height: 50%;
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: small;
}